.theContent {
    padding-top: 0
}

.padding {
    padding: 30px
}

.recommended_cell .padding {
    padding: 15px
}

#sports_header {
    width: 100%;
    margin: 0 auto
}

#sports_header_image {
    width: 100%;
    overflow: hidden
}

#sports_header img {
    width: 100%;
    display: block
}

#sports_article_credits a,#sports_header_summary_content a {
    color: #00659e;
    text-decoration: none
}

#sports_article_content,.outbrain_placeholder ul li {
    width: 67%;
    display: inline-block;
    vertical-align: top
}

.outbrain_placeholder ul li {
    width: 49%;
    text-align: left
}

#sports_article_title {
    color: #1b1b1b;
    font-family: 'robotobold',sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d3d3
}

#sports_title {
    display: inline-block;
    max-width: 70%
}

#sports_title h1 {
    font-size: 34px;
    margin: 0;
}

#sports_social {
    width: initial;
    min-width: 171px;
    text-align: right;
    float: right
}

#sports_article_credits {
    font-family: robotolight;
    font-size: 14px;
    color: #6a6a6a;
    padding: 8px 0
}

.captioned_image {
    margin-bottom: 1.2em
}

.full_width {
    width: 100%;
    display: block
}

@media only screen and (min-width:1024px) and (max-width:1439px) {
    #happens_title,#sports_article_writeup {
        font-size: 16px!important
    }
}

#sports_article_writeup img {
    max-width: 100%;
    display: block
}

.fb_iframe_widget {
    vertical-align: 8px
}

.sports_image img {
    display: block
}

.sports_content {
    padding: 15px
}

.typeNews {
    margin: 10px 0
}

.recommended_cell .typeNews {
    margin: 0
}

.sports_author {
    padding: 15px
}

.sports_author,.sports_author img,.trending_image img {
    vertical-align: middle
}

.sports_details_title a,.trending_title a {
    color: #212121;
    text-decoration: none
}

.sports_details_title {
    font-family: robotolight;
    font-size: 18px;
    color: #212121;
    margin-bottom: 10px
}

.sports_details_other {
    font-family: robotolight;
    font-size: 14px;
    font-style: italic;
    color: #6a6a6a
}

.sports_cell_summary {
    font-family: 'robotolight',sans-serif;
    font-size: 12px;
    color: #6a6a6a
}

.trending_cell {
    margin: 5px 0
}

.trending_image {
    width: 75px
}

.trending_image img {
    display: block
}

.trending_details {
    padding-left: 15px;
    font-family: 'robotobold',sans-serif
}

.trending_title {
    font-size: 11px;
    color: #363535
}

.trending_social {
    font-size: 11px;
    color: #6a6a6a
}

.trending_summary {
    font-size: 10px;
    color: #6a6a6a
}

.trending_social img {
    vertical-align: -4px;
    display: inline-block
}

.outbrain_placeholder {
    padding: 0;
    text-align: center
}

.outbrain_placeholder ul {
    list-style: none;
    padding-left: 0;
    clear: both;
    margin-bottom: 0
}

.outbrain_placeholder .ob-text-content {
    text-align: left;
    padding: 0 5px;
    font-size: 1rem;
    line-height: initial
}

.outbrain_placeholder .ob-text-content a {
    color: #00649f;
    cursor: pointer
}

.outbrain_placeholder .ob_source {
    font-size: .8rem;
    color: #acacac;
    font-family: "robotoregular",sans-serif;
    font-weight: 400;
    display: initial
}

#sponsored_head,.ob-widget-header {
    font-family: 'robotobold',sans-serif!important;
    font-size: 14px!important;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: #fff!important;
    background: #00659e!important;
    border: 0!important
}

.sponsoredArticle {
    display: none
}

.badge-sponsored #sports_title {
    display: flex;
    align-items: flex-end;
    min-height: 125px
}

.badge-sponsored .sponsoredArticle {
    display: block;
    position: absolute;
    top: 6px;
    right: 2px
}

.badge-sponsored #sports_social {
    position: absolute;
    right: 0;
    top: 80px
}

.badge-sponsored .sponsoredArticle img {
    max-width: 100%;
    width: initial
}
/*!badge sponsored*/
#sponsored_posts {
    width: 100%
}

#sponsored_content_holder {
    min-height: 219px
}

#sponsored_content {
    width: 100%;
    min-height: 219px
}

.sponsored_article {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding: 0 5px;
    margin: 10px 0;
    vertical-align: top
}

.sponsored_image,.sponsored_image img {
    width: 100%
}

.sponsored_title {
    font-family: 'robotobold',sans-serif;
    font-size: 12px
}

.sponsored_title a {
    color: #000;
    text-decoration: none
}

.comments_area {
    margin-top: 15px
}

.comment_post {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999
}

.comment_pic {
    float: left;
    width: 81px
}

.comment_pic img {
    width: 48px;
    display: block
}

.comment_message {
    float: left;
    width: 545px
}

#comment_text {
    width: 543px;
    height: 48px;
    border: 1px solid #999;
    box-sizing: border-box
}

#comment_more,#comment_none {
    font-family: 'robotobold',sans-serif;
    text-align: center
}

.comment_details {
    font-family: 'robotobold',sans-serif;
    font-size: 12px;
    color: #444
}

.comment_poster {
    font-size: 16px;
    color: #00659e;
    margin-right: 30px
}

.comment_actual {
    font-family: robotolight;
    font-size: 14px;
    color: #2a2e2e;
    margin-top: 10px
}

#comment_none {
    font-size: 20px;
    color: #6a6a6a
}

#comment_more {
    font-size: 16px;
    color: #fff;
    background: #00659e;
    padding: 5px 15px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer
}

.jscroll-added:nth-child(odd) .tiles.micro {
    float: right
}

@media only screen and (max-width:1024px) {
    #sports_article_content {
        width: 100%
    }

    #sports_header_image,#sports_header_image img {
        width: 100%;
        height: auto
    }

    #sports_title {
        width: calc(100% - 200px)
    }

    #sports_social {
        text-align: right
    }

    .comment_pic {
        width: 60px
    }

    #comment_text {
        width: 100%
    }
}

@media only screen and (max-width:870px) {
    #sports_article_writeup {
        padding: 25px 0 0
    }
    .theContent {
        background-color: white;
    }
}

@media only screen and (max-width:650px) {
    .padding {
        padding: 15px
    }

    #sports_article_writeup {
        padding: 0
    }

    .jscroll-added:nth-child(odd) .tiles.micro {
        float: left
    }
}

@media only screen and (max-width:480px) {
    #sports_title {
        width: 100%;
        max-width: initial
    }

    #sports_social {
        width: 100%;
        float: none
    }
}